{%extends 'base.html'%}
{%block content%}
{%load static%}
<div>
    <div class="navbar">
        <input type="check">
        <span></span>
        <span></span>
        <div class="men">
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">cursos</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">contactos</a></li>
        </div>
    </div>
</div>
<!-- <h1>Projects</h1>
{% for display in post%}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{display.image.url}}" alt="{{display.title}}" class="img-responsive">
        </div>
        <h2>{{display.title}}</h2>
        <p>{{display.description}}</p>
        <p><a href="{{display.link}}">View Project</a></p>
    </div>
</div>
{%endfor%} -->
{%endblock%}